[build]
  command = "echo 'No build required for static site'"
  publish = "."

[[redirects]]
  from = "/crypto-recovery"
  to = "/recovery.html"
  status = 200

[[redirects]]
  from = "https://www.countwize.com/*"
  to = "https://countwize.com/:splat"
  status = 301
  force = true
