._jeton-product{background-color:#34D399;position:relative}@media only screen and (max-width:743px){._jeton-product .stats{gap:48px 0}._jeton-product .stats li{width:calc((var(--100vw) - 2*var(--grid-padding))/2 - var(--grid-gap))}}
